extends layout
block title
  | Home
block content

  div(align="center" style="width: 50%; margin: 0 auto;")
    img(src="/countdown?year=2014&month=12&day=25&hour=00&minute=00&digit=D1")
    img(src="/countdown?year=2014&month=12&day=25&hour=00&minute=00&digit=D2")
    img(src="/countdown?year=2014&month=12&day=25&hour=00&minute=00&digit=D3")

    br

    img(src="/countdown?year=2014&month=12&day=25&hour=00&minute=00&digit=H1")
    img(src="/countdown?year=2014&month=12&day=25&hour=00&minute=00&digit=H2")

    br

    img(src="/countdown?year=2014&month=12&day=25&hour=00&minute=00&digit=M1")
    img(src="/countdown?year=2014&month=12&day=25&hour=00&minute=00&digit=M2")

    br

    img(src="/countdown?year=2014&month=12&day=25&hour=00&minute=00&digit=S1")
    img(src="/countdown?year=2014&month=12&day=25&hour=00&minute=00&digit=S2")